@import url('https://fonts.googleapis.com/css?family=Faster+One|Open+Sans');
@media only screen and (max-width: 37.5em) {
.navigation.responsive {
    position: absolute;
    margin: 0 0 0 0; 
    top: 12px;
    right: 45px;
}
.navigation.responsive li {
    background-color: #e7e247;
    display: block;
    width: 100%;
    border: 1px solid #7d84b2; 
}
.navigation.responsive li a {	
    padding: 5px;
    text-align: center;
    display: block;
    text-decoration:none; 
    color: #2b2d42;
    font-weight: bold;
}
.navigation.responsive li a:hover { 
    background-color: #7d84b2; 
}
}

* { box-sizing: border-box; }

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif, ariel; 
    background-color: #edf2f4;
}
header, nav, main, footer {}
header {
    background-color: #e7e247;
    margin: 1px;
    padding: 2px;
}
header h1 {
    font-family: 'Open Sans', sans-serif, ariel;
    font-size: 27px;
    font-weight: bold;
    color: #2b2d42;
    margin-top: 1px;
    text-align: center;
}
header .subheading {
    font-family: 'Open Sans', sans-serif, ariel;
    font-size: 13px;
    position: relative;
    top: -20px;
    text-align: center;
    margin-left: 0px;
}
#logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
}
.banner-image {
    max-width: 100%;
    margin-bottom: -5px;
}
nav { background-color: #7d84b2; }
nav button {
    position: absolute;
    top: 12px;
    right: 12px;
}
nav ul {}
nav ul li { 
    list-style: none;
    display: none;
}
nav ul li.active a {}
nav ul li a:hover {}
main {}
main h2 { text-align: center; }
h3 { text-align: center; }
main figure { display: none }
main figure img { width: 100%; }
section {}
.forecast { display: none; }
.current {
    margin: 20px;
    text-align: center;
}
.current p {
    display: inline;
    vertical-align: top;   
    padding-right: 10px;
}
.current img { margin-top: -10px; }
.highlow { text-align: center; }
.weather-row { width: 40px; }
.conditions {
    text-align: center;
    clear: both;
}
aside { text-align: center; }
.town-article { text-align: center; }
.floatRight {
    display: inline;
    margin: 20px;
}
.floatLeft {
    display: inline;
    margin: 20px;
}
section h3 { padding: 0px; }
article p.town-article img {  
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
footer {margin: 1px;}
footer aside { background-color: #7d84b2; }
footer>p {  background-color: #e7e247; }