@import url('https://fonts.googleapis.com/css?family=Faster+One|Open+Sans'); 
@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang');
@media only screen and (max-width: 37.5em) {
.navigation.responsive {
    position: absolute;
    margin: 0 0 0 0; 
    top: 12px;
    right: 45px;
}
.navigation.responsive li {
    background-color: #000000;
    display: block;
    width: 100%;
    border: 1px solid #FFFFFF; 
}
.navigation.responsive li a {	
    padding: 5px;
    text-align: center;
    display: block;
    text-decoration: none; 
    color: red;
    font-weight: bold;
}
.navigation.responsive li a:hover { 
    background-color: red; 
    color: black;
}
}

* { box-sizing: border-box; }

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif, ariel; 
    background-color: #FFFFFF;
}
body p {
    font-size: 12px;
}
header, nav, main, footer {
    margin: 1px 5px 1px 5px;
}
header {
    background-color: #000000;
    margin: 1px;
    padding: 2px;
}
header h1 {
    font-family: 'Kirang Haerang', cursive;
    font-size: 28px;
    font-weight: 100;
    line-height: 1.5em;
    color: #FFFFFF;
    margin-top: -12px;
    text-align: center;
}
header .subheading {
    font-family: 'Open Sans', sans-serif, ariel;
    font-size: 13px;
    position: relative;
    top: -20px;
    text-align: center;
    margin-left: 0px;
    color: #FFFFFF;
}
#logo {
    position: absolute;
    top: 23px;
    left: 15px;
    width: 55px;
}
.banner-image {
    width: 100%;
    margin-bottom: -5px;
}
nav { background-color: #FFFFFF; }
nav button {
    position: absolute;
    top: 12px;
    right: 12px;
}
nav ul li { 
    list-style: none;
    display: none;
}
h2, h3, h1, aside { text-align: center; }
h2, h1, h3 {
    font-family: 'Kirang Haerang', cursive;}
section h3 { padding: 0px; }
article img {  
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
footer {margin: 1px; font-size: 12px; text-align: center;}
footer aside { 
    background-color: #000000; 
    color: #FFFFFF;
}
footer>p { 
    background-color: #000000; 
    color: #FFFFFF;
}
.grid {
	margin:0 5px 0 5px;
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 3%;
	grid-row-gap: 10px;
    text-align: center;
}
.gridimg {
	width: 100%;
	height: 50%;
    text-align: center;
}
.gridfig {
	margin: 0 1px 0 1px;
    max-width: 100%;
    height: auto;
}
.gridfig img {
	height:220px;
    max-width: 100%;
}
.large-nav {
    top: 0;   
}
.parent-flex {
    display: flex;
    justify-content: center;
}
.big-main {
    max-width: 100%;
    margin: auto;
    text-align: center;
}
form {
	padding: 3%;
    margin-bottom: 10px;
    max-width: 500px;
}
input, textarea, select {
	background-color: #FFFFFF;
}
form, fieldset, label, label span {
	text-align: left;
}
fieldset {
	margin: 20px 5% 0 5%;
    background-color: #FFFFFF;
    font-size: 16px;
}
legend span {
	font-weight: bold;
	font-size: 13px;
}
fieldset label {
	display: block;
}
label {
	max-width: 80%;
	margin: auto;
    padding-bottom: 10px;
    padding-top: 5px;
}
label span {
	font-weight: bold;
	display: block;
}
#ratingvalue {
	margin-left: 10px;
	display: inline;
}
input[type="submit"] {
  -webkit-appearance: none;
  border:none;
}
.submit {
	margin-top: 15px;
	-webkit-border-radius: 60;
	-moz-border-radius: 60;
	border-radius: 60px;
	font-size: 16px;
	background: crimson;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	color: #000000;
}
.marginAuto {
    max-width: 80%;
    margin: auto;
    font-weight: bold;
    display: block;
}
.boldfont {
    font-weight: bold;
}
.registration {
    text-align: center;
    margin-bottom: -25px;
}
.thank-you {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 300px;
    margin-top: 50px;
}
.article-flex {
    display: block;
    text-align: center;
    max-width: 100%;
}
.article-flex img {
    max-width: 400px;
}
form {
	margin: auto;
}
.bottom-padding {
    margin-bottom: 10px;
}
.small-img {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
#accordion p {
    margin-bottom: 15px;
    text-align: center;
}
.contact-info {
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    text-align: center;    
    margin: auto;
}
th, td {
    padding: 6px;
}
.calltoaction {
    background-color: #000000;
    color: #FFFFFF;
}
article p {
    text-align: center;
}
.servicesimg {
    display: block;
    margin-top: 0;
}
.widthcontrol {
    max-width: 100%;
}
#middlecenter {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    width: auto;
}
footer a {
    text-decoration: none;
    color: #FFFFFF;
}
.calltoaction:hover {
    background-color: red;
}
.active {
    background-color: red;
}
video {
    max-width: 100%;
}