@import url('https://fonts.googleapis.com/css?family=Faster+One|Open+Sans');

@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

* { box-sizing: border-box; }  /* This wildcard applies to all elements ensuring a box layout model */

header, nav, main, footer {
    width: auto;
    min-width: 732px;
    max-width: 938px;
}  
nav button { display:none; }  /* hamburger button does not need to be shown */
body {
    font-size: 20px;
}
.banner-image {
    display: none;
}
header {
    margin: 10px;
    padding: 5px;  
}
header h1 {
    font-size: 40px;
    text-align: center;
}
header .subheading {
    font-family: 'Open Sans', sans-serif, ariel;
    font-size: 20px;
}
#logo {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 90px;
}
ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
}
nav ul li {
    display: flex;
    list-style-type: none;
}
.pipe {
    border-right: 2px solid;
    padding-right: 10px;  
    padding-left: 10px;
}
.lastPipe {
    padding-left: 10px;
}
nav a {
    text-decoration: none;
    color: #edf2f4;
    font-weight: bold;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #6e6362;
    padding: .5px;
    text-align: center;
    font-size: 18px;
    margin: 10px;
}
.medium-parent-flex {
    display: flex;
    justify-content: center;
}
.right-block {
    margin-top: 25px;
}
.largeFlex {
    display: flex;
    font-size: 20px;
}
main figure { 
    display: block;
}

main figure img { 
    width: 100%;
    margin-top: 10px;
}
main h2 {
    display: block;
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
}
.weather-row {
    width: 40px;
    margin-right: 20px;
}
.right-block h3 {
    margin-right: 40px;
    margin-top: 10px;
}
.highlow {
    margin-right: 40px
}
.conditions {
    margin-right: 20px;
    min-width: 300px;
}
#windchillTemp {
    position: relative;
}
.forecast {
    padding-top: 1px;
    display: block;
}
.right-block {
    display: block;
    line-height: .7;
}
table, th, td {
    border: 1px solid black;
    text-align: center;    
    margin: auto;
}
th, td {
    padding: 6px;
}
article p {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    font-size: 20px;
    margin: 10px;
}
article p.town-article img {
    width: 75%;
    margin-left: 40px;
} 
aside {
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
footer {
    text-align: center;
    font-size: 15px;
    padding-bottom: 1px;
    margin: 10px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
	margin:0 10px 0 10px;
	grid-column-gap: 3%;
	grid-row-gap: 10px;
    text-align: center;
}
#gridimg {
    width:100%;
    
}
.gridfig img {
	height:320px;
    max-width: 100%;
}
}
