
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: /* Ubuntu, sans-serif */;
    color: indianred;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 3em;
    color: greenyellow;
    font-family: 'Roboto Mono', monospace;
    
}

h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: cadetblue
}

ul {
    list-style-type: none;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 500px;
    max-height: 300px;
    background-color: whitesmoke;
    
}

header {
    text-align: center;
    background-color: whitesmoke;
    color: cadetblue;
}

header img {
    width: 200;
    height: auto;
    float: right;
    position: relative;
}

footer {
    font-size: 0.7em;
    padding-top: 10px;
    text-align: center;
    background-color: whitesmoke;
    
}